@import url("https://use.typekit.net/aun6ona.css");

 *{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body{
	font-size:16px;
	font-family: futura-pt, proxima-nova, sans-serif;
	color: #000;
}

.logo {
	float: left;
	margin-left: 1em;
	margin-top: 0.5em;
}

header{
	position: fixed;
	padding: 1.5em;
	width: 100%;
	z-index: 8;
}

nav{
	position: absolute;
	top: 50%;
	transform: translateY(-55%);
	right: 1em;
	}

nav a {
	color: #000;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 0.75em;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.2em;
	line-height: 2.5;
	margin-right: 1em;
	padding: 1em;
	display: inline-block;
	transform: translateY(10%);
}

nav a span {
	padding-bottom: 8px: 
}

nav a:hover span{
	border-bottom: 1px solid;	
}

h1{
	color: #000;
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 2.2em;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

#slogan{
	color: #000;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 0.75em;
	letter-spacing: 0.6em;
	line-height: 1.5em;
}

.gallery-container {
	background-color: lightgrey;
	width: 100%;
	height: 500px;
	margin-top: 10%;
	margin-left: 2.5em;
	position: fixed;

}

.beauty-gallery {
	float: left;
}

#gold {
	
}


