*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
	font-size:16px;
	font-family: futura-pt, proxima-nova, sans-serif;
}
.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content: " ";
	display: block;
	clear: both;
}


/*start of project page styling*/
.miniProjectSml, .trioSml {
	display: none;
}
.miniProject {
	margin: 0 2em 0 2em;
	display: flex;
	justify-content: center;
	}
.trio {
	display: flex;
	overflow-x: scroll;
	}
.trio img {
	height: 70vh;
	}


/*centering of nav*/
@media only screen and (max-width: 1118px) {

.miniProject, .trio{
	display: none;
	}
.miniProjectSml {
	margin: 0 2em 0 2em;
	display: flex;
	justify-content: center;
	}
.trioSml {
	display: flex;
	overflow-x: scroll;
	}
.trioSml img {
	height: 50vh;
	}
}






/*centering of nav*/
/*@media only screen and (max-width: 1118px) {

.trioWrapper, .miniProject{
	display: none;
	}
.trioWrapperSml {
	margin: 0 auto;
	background-color: peachpuff;
}
 .miniProjectSml img{
	height: 100%;
	}
.miniProjectSml{
	height: 50vh;
	display: flex;
	overflow-x:scroll;
	background-color: peachpuff;
	}
}*/


