*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
	font-size:16px;
	font-family: futura-pt, proxima-nova, sans-serif;
}
.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content: " ";
	display: block;
	clear: both;
}


/*standard projects*/
.standardProjectSml{
	display: none;
	}
.standardProject{
	margin: 0 2em 0 2em;
	justify-content: center;
	display: flex;
	overflow-x:scroll;
	-webkit-overflow-scrolling: touch;
	}
.standardProject img{
	height: 70vh;
	}



/*small projects*/
@media only screen and (max-width: 1118px) {

.standardProject{
	display: none;
	}	
.standardProjectSml{
	display: block;
	height: 60vh;
	margin: 0 2em 0 2em;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	}
.slides{
	display: inline;
	}
.slides img{
	height: 100%;
	}
}




