body{
	padding: 0;
	margin: 0;
}

.container {
	background-color: red;
	height: 80vh;
	width: 100vw;
	display: flex;
	align-items: center;
	overflow-x: scroll;
}

.slides{
	background-color: lightgreen;
	height: 80%;
	width: 80%;
}

.slides img {
height: 500px;
width: 350px;
}