*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

body{
	background-color: peachpuff;
	font-size: 20px;
}

div{
	background-color: aquamarine;
	height: 100px;
	width: 100px;
	margin: 2%;
	float: left;
}

#wrapper{
	height: 200px;
	width: 800px;
	margin: 0 auto;
	background-color: violet;
}

.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content: " ";
	display: block;
	clear: both;
}