*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/*<style>
  @import url("https://use.typekit.net/aun6ona.css");
</style>*/

body{
	font-size:16px;
	font-family: futura-pt, proxima-nova, sans-serif;
	color: #fff;
}

nav {
	float: right;
	padding: 1.5em;
	margin: 1em;
}

nav a{
	color: #fff;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 0.75em;
	/*text-transform: uppercase;*/
	text-decoration: none;
	letter-spacing: 0.2em;
	line-height: 2.5;
	margin: 0.5em;
}

a:hover{
	color: grey;
}

h1{
	color: #fff;
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 2.2em;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	margin: 0.25em 0em 0em 0.5em;
}

#slogan{
	color: #fff;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 0.75em;
	letter-spacing: 0.6em;
	line-height: 1.5em;
	margin: 0em 0em 0em 1.5em
}

#intro {
	background: url("../images/beauty-hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 90vh;
	padding: 2em;
}

/*.tab{
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 0.9em;
	letter-spacing: 0.4em;
	color: grey;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: white;
	padding: 12px;
	float: left;
}*/

#fashion {
	background: url("../images/fashion-hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 90vh;
	padding: 2em;
}
