
 @import url("https://use.typekit.net/aun6ona.css");

 *{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body{
	font-size:16px;
	font-family: futura-pt, proxima-nova, sans-serif;
	color: #fff;
}


/*start of header stying*/
header{
	position: relative;
	width: 100%;
	z-index: 7;
}

.logo {
	float: left;
	margin-left: 3em;
	margin-top: 2.5em;
}

.black-logo {
	float: left;
	margin-left: 3em;
	margin-top: 2.5em;
}

.black-logo > h1 {
	color: #222;
}
.black-logo > p{
	color: #222;
}

h1 {
	color: #fff;
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 2.375em;
	text-transform: uppercase;
	letter-spacing: 0.25em;
}

p {
	color: #fff;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 0.75em;
	letter-spacing: 0.65em;
	line-height: 1.5em;
}

/*start of nav bar styling*/
.navbar {
    overflow: hidden;
    font-family: futura-pt, proxima-nova, sans-serif;
    float: right;
    margin-top: 1.5em;
    margin-right: 1.5em;
/*    background-color: violet;*/
}

.navbar a {
    color: #fff;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    line-height: 2.5;
    padding: 1.5em;
    display: inline-block;
    transform: translateY(10%);
}

.navbar a span {
    padding-bottom: 8px: 
}

.navbar a:hover span{
    border-bottom: 0.5px solid;   
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .workbtn {
    color: #fff;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    line-height: 2.5;
    margin-right: 1em;
    padding: 1.5em;
    display: inline-block;
    transform: translateY(10%);
    margin: 0;
    border: none;
    outline: none;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(21,19,24,.8);
    min-width: 140px;
    padding: 0.7em;
/*    z-index: 1;*/
}

.dropdown-content a {
    float: none;
    color: #fff;
    padding: 5px 15px;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 0.7em;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    text-align: left;    
}

.dropdown-content a:hover {
    background-color: #222;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*end of white-nav styling*/


/*start of section styling*/
section{
	position: relative;
	z-index: 0;
	height: 97vh;
	padding: 2em;
}

.work {
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 0.8em;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: 0.2em;
	color: grey;
	background-color: rgb(21,19,24);
	display: block;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%, -25%);
	padding: 10px;
	width: 170px;
	margin-left: 0 auto;
	z-index: 11 ;
}

.section-link {
	color: #fff;
	font-weight: 400;
	padding-bottom: 8px:
}

section a span {
	padding-bottom: 8px: 
}

section a:hover span{
	border-bottom: 0.5px solid;	
}

#beauty {
	background: url("../images/beauty-hero.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 6;
}

#fashion {
	background: url("../images/fashion-hero.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 5;
}

#kids {
	background: url("../images/kids-hero.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 4;
}

#interiors {
	background: url("../images/interiors-hero.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 3;
}

#food {
	background: url("../images/food-hero.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 2;
}

#seasonal {
	background: url("../images/seasonal-hero.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
}
/*end of section styling*/

/*start of beauty gallery styling*/

.beauty-wrap {
	background-color: violet;
	margin-top: 300px;
	margin-left: 2em;
	width:90%;
	height: 500px;
	float: left;
}

/*start of footer styling*/
footer {
	height: 3em;
	width: 100%;
	background-color: #fff;
	position: relative;
	z-index: 10;
}

footer a span {
	padding-bottom: 8px: 
}

footer a:hover span{
	border-bottom: 1px solid;	
}

#copyright {
	color: grey;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: .65em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	display: inline-block;
	margin-left: 3em;
	transform: translateY(100%);	
}

#year {
	color: #222;
	font-weight: 400;
}

#top-link {
	color: #222;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 0.75em;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.2em;
	text-align: center;
	padding: 1em;
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 2em;
}
/*end of footer styling*/

/*start of media queries*/
@media only screen and (max-width: 850px) {
	.navbar {
    display: none;	
	}
	.logo{
		margin-left: 2.5em;
		margin-top: 2em;
	}
	h1 {
	font-size: 2.137em;
	letter-spacing: 0.25em;
	}
	#slogan{
	font-size: 0.675em;
	letter-spacing: 0.65em;
	}
	#beauty {
	background: url("../images/beauty-2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 6;
	}
	#fashion {
	background: url("../images/fashion-2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 5;
	}
	#kids {
	background: url("../images/kids-2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 4;
	}
	#interiors {
	background: url("../images/interiors-2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 3;
	}
	#food {
	background: url("../images/food-2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 2;
	}
	#seasonal {
	background: url("../images/seasonal-2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
	}
}
@media only screen and (max-width: 600px) {
	#beauty {
	background: url("../images/beauty-3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 6;
	}
	#fashion {
	background: url("../images/fashion-3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 5;
	}
	#kids {
	background: url("../images/kids-3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 4;
	}
	#interiors {
	background: url("../images/interiors-3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 3;
	}
	#food {
	background: url("../images/food-3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 2;
	}
	#seasonal {
	background: url("../images/seasonal-3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
	}
}
@media only screen and (max-width: 400px) {
.logo {
	float: none;
	margin: 1em;
	}
	h1 {
	color: #222;
	text-align: center;
	}
	p {
	color: #222;
	text-align: center;
	}
}
@media only screen and (max-width: 320px) {
	#beauty {
	background: url("../images/beauty-3.jpg");
	/*background-size: cover;
	background-position: center;
	background-repeat: no-repeat;*/
	z-index: 6;
	}
	#fashion {
	background: url("../images/fashion-3.jpg");
	/*background-size: cover;
	background-position: center;
	background-repeat: no-repeat;*/
	z-index: 5;
	}
	#kids {
	background: url("../images/kids-3.jpg");
	/*background-size: cover;
	background-position: center;
	background-repeat: no-repeat;*/
	z-index: 4;
	}
	#interiors {
	background: url("../images/interiors-3.jpg");
	/*background-size: cover;
	background-position: center;
	background-repeat: no-repeat;*/
	z-index: 3;
	}
	#food {
	background: url("../images/food-3.jpg");
	/*background-size: cover;
	background-position: center;
	background-repeat: no-repeat;*/
	z-index: 2;
	}
	#seasonal {
	background: url("../images/seasonal-3.jpg");
	/*background-size: cover;
	background-position: center;
	background-repeat: no-repeat;*/
	z-index: 1;
	}
}


