*{
	padding: 0px;
	margin: 0px;
	box-sizing:border-box;
}

body{
	font-size:16px;
	font-family: Futura, sans-serif;
	color: #fff;
	line-height:1.3;
}
nav {
	float: right;
	margin-right: 30px;
	letter-spacing: 1px;
}
nav a{
	margin-left: 30px;
	color: #fff;
	text-decoration: none;
	line-height: 2;
}

a:hover{
	color: grey;
}

h1{
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 8px;
}
#slogan{
	text-transform: uppercase;
	font-size: 12px;
	font-family: Proxima Nova, sans-serif;
	font-weight: lighter;
	letter-spacing: 5px;
	line-height: 2.5;
}

#email{
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#intro {
	background: url("../images/beauty-hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 90vh;
	padding: 5em;
}
